# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
